* {
  box-sizing: border-box;
}

#social_networks {
  position: absolute;
  justify-content: center;
  display: flex;
  width: 100%;
  top: 95%;
  left: 0;
  height: 5%;
}

.icon {
  display: flex;
  justify-content: center;
  height: 80%;
  margin: auto 20px;
}

.icon img {
  height: 100%;
  width: auto;
}
